.page{
    background: url("images/shrek-background.jpg") fixed;
    background-size: 100% auto;
    font-size: 1rem;
    font-family: Manrope, serif;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.header-title{
    font-size: 1.6rem;
    font-family: Playfair+Display, serif;
    font-weight: bold;
}

.main-image{
    width: 500px;
    height: auto;
    filter: drop-shadow(10px 10px 10px black);
}

.main-info{
}

.main-info__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Playfair+Display, serif;
}

.main-info__list{
    line-height: 1.5em;
}

.main-info__list__header{
    font-style: italic;
    font-weight: bold;
}

.main-ascii{
    color: #487A4E;
}

.main-background{

}

.main-background__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-family: Playfair+Display, serif;
}

.main-background__crucial{
    font-style: italic;
}

.main-table{
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(150px, 400px) minmax(150px, 400px) minmax(100px, 400px);
    grid-template-rows: 50px 50px 50px 50px;
    max-width: 1200px;
    min-width: 400px;
    margin-top: 5%;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: darkgreen;
    text-align: left;
    font-weight: 600;
    font-size: 1.3rem;
    color: #808080;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    background: green;
}
td:nth-child(4n+1){
    font-size: 1.1rem;
}

tr:nth-child(even) td {
    background: yellowgreen;
}


.main-skills{

}

.main-skills__list{
    line-height: 1.5em;
}

.main-algorithm{
    font-size: 1rem;
}

.main-algorithm__title{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Playfair+Display, serif;
}

.main-quote{

}

.main-quote__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Playfair+Display, serif;
}

.main-quote__quote{
    line-height: 1.25em;
}

.main-quote__author{
    font-style: italic;
    line-height: 1.5em;
}

.main-joke{

}

.main-joke__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Playfair+Display, serif;
}

.main-joke__crucial{
    font-style: italic;
}

.footer-resources{

}

.footer-resources__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1em;
    font-family: Playfair+Display, serif;
}

.footer-resources__list{
    line-height: 1.25em;
}

.footer-contact-info{

}

.footer-contact-info__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1em;
    font-family: Playfair+Display, serif;
}

.footer-contact-info__list{
    line-height: 1.5em;
}




