.page{
    background: url("../images/shrek-background.jpg") fixed;
    background-size: cover;
    font-size: 1.05rem;
    font-family: Manrope, serif;
    color: black;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu{
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(123,132,121, 0.9);
    margin-left: -1%;
    width: 101%;
    height: 4vh;
    padding: 1%;
}

.menu-button__home{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.menu-button__friends{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.menu-button__cinema{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.menu-button__memes{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.menu-button__todo{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.menu-button__account{
    background: rgb(87,103,102, 0.65);
    border: 1px solid black;
    padding: 0.5%;
    height: 2.5vh;
}

.constructor-header{
    font-family: Playfair+Display, serif;
    font-size: 1.6rem;
    font-weight: bold;
    align-self: center;
    margin-top: 10vh;
}

.constructor__form{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-self: center;
    align-content: space-around;
    justify-content: space-around;
}

.constructor__input__todo-label{
    margin-top: 2vh;
    margin-bottom: 1vh;
    background: rgb(123,132,121, 0.6);
    width: 10vw;
    font-size: calc((100vw - 480px)/(1600 - 480) * (24 - 16) + 13px);
    padding: 1%;
}

#constructor__input__todo{
}


#constructor__input__deadline{
}

.submit__button{
    margin-top: 2vh;
    background: rgb(123,132,121, 0.5);
}

.clear__button{
    position: absolute;
    margin-top: 42vh;
    margin-left: 70vw;
    background: rgb(87,103,102, 0.5);
}

.constructor__todo{
    margin-top: 5vh;
    align-self: center;
}

.todo-list__item{
    background: rgb(123,132,121, 0.9);
    width: 20vw;
    padding: 2%;
}

.delete__button{
    background: rgb(87,103,102, 0.5);
}
