.friends{
    background: url("../images/shrek-background.jpg") fixed;
    background-size: cover;
    font-size: 1.05rem;
    font-family: Manrope, serif;
    color: black;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.body_hide {
    opacity: 0;
    transition: .9s opacity ease-in-out;
}
.body_visible {
    opacity: 1;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(123,132,121, 0.9);
    margin-left: -1%;
    width: 101%;
    height: 4vh;
    padding: 1%;
}

.menu-button__home{
    background: rgb(87,103,102, 0.65);
}

.menu-button__friends{
    background: rgb(87,103,102, 0.65);
}

.menu-button__cinema{
    background: rgb(87,103,102, 0.65);
}

.menu-button__memes{
    background: rgb(87,103,102, 0.65);
}

.friends-header{

}

.main-donkey{

}

.main-donkey__header{

}

.main-donkey__image{

}

.main-donkey__text{

}

.main-cat{

}

.main-cat__header{

}

.main-cat__image{

}

.main-cat__text{

}

.main-pryanya{

}

.main-prynya__header{

}

.main-pryanya__image{

}

.main-pryanya__text{

}