.page{
    background: url("../images/shrek-background.jpg") fixed;
    background-size: cover;
    font-size: 1.05rem;
    font-family: Manrope, serif;
    color: black;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.friends{
    background: black;
}

.body_hide {
    opacity: 0;
    transition: .9s opacity ease-in-out;
}
.body_visible {
    opacity: 1;
}

.pop-up-window{
    margin-left: -1%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 5rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 40vh;
    background: rgb(123,132,121, 0.9);
}

.pop-up-window__question{
    margin-right: 25%;
    margin-left: 25%;
    background: rgb(87,103,102, 0.5);
    height: 12vh;
    padding: 1%;
}
.pop-up-window__yes{
    margin-bottom: 50vh;
    background: rgb(87,103,102, 0.5);
    padding: 1%;
    height: 16vh;
}

.pop-up-window__no{
    margin-bottom: 50vh;
    background: rgb(87,103,102, 0.5);
    padding: 1%;
    height: 16vh;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25vh;
}

footer{
    display: flex;
    flex-direction: row;
    width: 101%;
    justify-content: space-around;
    margin-left: -1%;
    margin-top: -12vh;
    margin-bottom: 2vh;
}

.menu{
    visibility: hidden;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(123,132,121, 0.9);
    margin-left: -1%;
    width: 101%;
    height: 4vh;
    padding: 1%;
}

.menu-button__home{
    background: rgb(87,103,102, 0.65);
}

.menu-button__friends{
    background: rgb(87,103,102, 0.65);
}

.menu-button__cinema{
    background: rgb(87,103,102, 0.65);
}

.menu-button__memes{
    background: rgb(87,103,102, 0.65);
}

.menu-button__todo{
    background: rgb(87, 103, 102, 0.65);
}

.header-title{
    font-size: 1.6rem;
    font-family: Playfair+Display, serif;
    font-weight: bold;
    align-self: center;
    margin-top: 10vh;
}

.main-image{
    order: 1;
    width: 500px;
    height: auto;
    filter: drop-shadow(10px 10px 10px black);
    margin-top: 3%;
    margin-left: 10%;
}

.main-info{
    order: 2;
    background: rgb(123,132,121, 0.6);
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-top: 6%;
    margin-right: 10%;
    margin-left: 10%;
}

.main-info__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Playfair+Display, serif;
}

.main-info__list{
    line-height: 1.5rem;
}

.main-info__list__header{
    font-style: italic;
    font-weight: bold;
}

.main-ascii{
    order: 4;
    color: #182311;
    background: rgb(123,132,121, 0.6);
    padding: 1%;
    width: 24rem;
    margin-right: 5%;
    margin-top: 5%;
}

.main-background{
    order: 3;
    background: rgb(123,132,121, 0.6);
    width: 35%;
    height: 10%;
    padding: 1%;
    margin-top: 10%;
    margin-left: 6%;
}

.main-background__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-family: Playfair+Display, serif;
}

.main-background__crucial{
    font-style: italic;
}

.main-table{
    order: 5;
    display: grid;
    justify-self: center;
    grid-template-columns: minmax(100px, 400px) minmax(150px, 400px) minmax(150px, 400px) minmax(100px, 400px);
    grid-template-rows: 50px 50px 50px 50px;
    max-width: 1200px;
    min-width: 400px;
    margin-top: 5%;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #4b4e3d;
    text-align: left;
    font-weight: 600;
    font-size: 1.3rem;
    color: #e6e6e6;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #e6e6e6;
    background: #7b8479;
}
td:nth-child(4n+1){
    font-size: 1.1rem;
}

tr:nth-child(even) td {
    background: #abb7ba;
}


.main-skills{
    order: 6;
    background: rgb(123,132,121, 0.6);
    width: 35%;
    padding: 1%;
    height: 10%;
    margin-top: 10%;
    margin-left: 7%;
}

.main-skills__list{
    line-height: 1.5em;
}

.main-algorithm{
    order: 7;
    font-size: 1rem;
    background: rgb(123,132,121, 0.6);
    width: 37rem;
    height: 10%;
    padding: 1%;
    margin-top: 5%;
}

.main-algorithm__title{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Playfair+Display, serif;
}

.main-quote{
    order: 8;
    background: rgb(123,132,121, 0.6);
    width: 37%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 5%;
}

.main-quote__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Playfair+Display, serif;
}

.main-quote__quote{
    line-height: 1.25em;
}

.main-quote__author{
    font-style: italic;
    line-height: 1.5em;
}

.main-joke{
    order: 9;
    background: rgb(123,132,121, 0.6);
    width: 30%;
    height: 20%;
    padding: 1%;
    margin-top: 5%;
    margin-right: 5%;
}

.main-joke__title{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Playfair+Display, serif;
    margin-bottom: 1%;
}

.main-joke__crucial{
    font-style: italic;
}

.footer-resources{
    background: rgb(123,132,121, 0.9);
    width: 50%;
    padding: 1%;
    height: 14vh;
}

.footer-resources__title{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Playfair+Display, serif;
}

.footer-resources__list{
    line-height: 1.25em;
}

.footer-contact-info{
    background: rgb(123,132,121, 0.9);
    width: 50%;
    height: 14vh;
    padding: 1%;
}

.footer-contact-info__title{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1em;
    font-family: Playfair+Display, serif;
}

.footer-contact-info__list{
    line-height: 1.5em;
}


@media screen and (max-width: 1100px){

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-info{
        width: 20rem;
    }

    .main-background{
        width: 20rem;
    }
}

@media screen and (max-width: 600px){

    .main-table{
        display: none;
    }

    .main-algorithm{
        display: none;
    }

}




